.leaflet-gac-container {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.65)!important;
  font-size: 14px;

  &.leaflet-bar.leaflet-control {
    border: none;
  }

  .leaflet-gac-control {
    &.pac-target-input {
      border: none;
      width: 400px;
      padding: 15px;
      font-size: inherit;

      &:focus {
        outline: none;
      }
    }
  }
}
