.map {
  height: 100%;
  width: 100%;
}

.parcel-popup-content {
  font-weight: 12px;

  .parcel-popup-header {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    border-bottom: solid 1px #eee;
    margin-bottom: 5px;
    padding-bottom: 5px;
  }

  .parcel-popup-property-key {
    font-weight: bold;
    white-space: nowrap;
    text-align: right;
    padding-right: 1em;
    vertical-align: text-top;
  }

  .parcel-popup-property-value {
    font-size: 12px;
  }
}
