.leaflet-control-legend {
  background-color: white;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.65);
  font-size: 14px;
  max-width: 40em;
  min-width: 24em;

  .leaflet-control-legend-header {
    .leaflet-control-legend-header-text {
      white-space: nowrap;
      font-weight: bold;
      padding: 10px 100px 10px 10px;

      .leaflet-control-legend-header-text-property-count {
        padding-left: 0.5em;
      }
    }

    .leaflet-control-legend-header-button {
      cursor: pointer;
      float: right;
      border: none;
      background-color: transparent;
      height: 40px;
      width: 40px;
      background-image: url(./images/arrow-down.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 40%;
      &:hover {
        background-color: #eee;
      }
    }

    .leaflet-control-legend-header-download,
    .leaflet-control-legend-header-table-view {
      display: block;
      cursor: pointer;
      float: right;
      border: none;
      background-color: transparent;
      height: 40px;
      width: 40px;
      background-image: url(./images/download.webp);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 45%;
      &:hover {
        background-color: #eee;
      }
    }

    .leaflet-control-legend-header-table-view {
      background-image: url(./images/table-view.png);
    }
  }

  &.collapsed {
    .leaflet-control-legend-list-item-input-wrapper {
      opacity: 0;
    }

    .leaflet-control-legend-header-button {
      background-image: url(./images/arrow-up.png);
    }

    .leaflet-control-legend-list {
      height: 0;
    }
  }

  .leaflet-control-legend-list-item-input-wrapper {
    display: inline-block;
    padding: 5px;
    margin: 9px 5px 5px 5px;
    float: left;
    background-color: #eee;

    .leaflet-control-legend-list-item-input,
    .leaflet-control-legend-header-toggle {
      cursor: pointer;
      display: block;
    }
  }

  .leaflet-control-legend-list {
    transition: all 0.3s ease-in-out;
    overflow-y: scroll;
    max-height: 300px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    .leaflet-control-legend-list-item {
      border-top: solid 1px #ddd;
      overflow: auto;

      .leaflet-control-legend-list-item-label {
        cursor: pointer;
        display: block;
        overflow: hidden;
      }

      .leaflet-control-legend-list-item-text {
        padding: 11px 10px 9px 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        float: left;
        display: block;
        max-width: 80%;
      }

      .leaflet-control-legend-list-item-count {
        padding: 11px 10px 9px 0;
        display: inline-block;
        float: right;
        font-weight: bold;
      }
    }
  }
}
